<a href="https://colab.research.google.com/github/saras1999/frontend/blob/main/revision_python_ineuron.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hello Python")

Hello Python

In [2]:
print("the nameof the company is Freshmart")

the nameof the company is Freshmart

In [3]:
print("the year the company wasestablished is", 1983)

the year the company wasestablished is 1983

In [4]:
print('totalturnover of the company this year in million $ is 1..5')

totalturnover of the company this year in million $ is 1..5

In [5]:
print("my name is saraswathi , 3 years experience")

my name is saraswathi , 3 years experience

variable

In [7]:
x=10
y=20000
z=x*y
print(z)
z

200000

200000

In [9]:
company_name="Fresh Mart"
print("The name of the company is", company_name)

The name of the company is Fresh Mart

a variable name start with a letter or underscore
variable name cannot start with a number
a variable name are case sensitive
a variable name can only contain alpha-numeric characters and underscores(A-z, 0-9 and _)

In [10]:
year_started=1983
print("the year the cpmpany estanlished is", year_started)

the year the cpmpany estanlished is 1983

In [11]:
turnover=1.5
Turnover='1.5 Million'
year=2022
print("The", company_name, "turnover is", Turnover,"in",year)

The Fresh Mart turnover is 1.5 Million in 2022

datatypes

In [12]:
print("the type of variables incompany name is", type(company_name))

the type of variables incompany name is <class 'str'>

we can also check the type of variables using type() functio

data types are classification of data items, it represents the kind of value that tells what operations can be performed on a particular data
integer float

In [14]:
print("the year the company was estanlish is", type(year_started))

the year the company was estanlish is <class 'int'>

In [20]:
total_turnover=1.5
type(total_turnover)
year = 1983
type(year)

int

In [18]:
type(total_turnover)

float

In [22]:
stock1=0.2
print('price of stock1 in million $ is', stock1)

price of stock1 in million $ is 0.2

In [23]:
price_updated = stock1 + stock1
print("price of stock2 in million $ is", price_updated)

price of stock2 in million $ is 0.4

In [24]:
price_final=stock1*10
print(price_final)

2.0

In [25]:
downtime_hours=90
total_time=2500
average_downtime=downtime_hours/total_time
print("the avetage downtime hours for last month is", average_downtime)

the avetage downtime hours for last month is 0.036

In [26]:
x=19992
type(x)

int

In [29]:
safety_incidents=34
total_employees=1968
safety_per_employee= safety_incidents/total_employees
safety_per_employee

0.017276422764227643

data structures the way to store data ,collection of data, sequence of data

list

In [30]:
stocks=["tv", "Laptop", "Mobile phones", "Table fans"]
print("stock:", stocks)

stock: ['tv', 'Laptop', 'Mobile phones', 'Table fans']

a list in ython is an ordered group of itms and these list elements dont have to be of the same type. python list are mutable objects that can change their values

alist contains

**bold text**

create a list that contains the values for sales that happened to date .

In [32]:
x=[10, 'nitin', 'sam', 78.90, 'try python', 'table fans']
print('inventory:',x)

inventory: [10, 'nitin', 'sam', 78.9, 'try python', 'table fans']

In [33]:
sales=[200,652,412,123]

In [34]:
print('stocks:',stocks)

stocks: ['tv', 'Laptop', 'Mobile phones', 'Table fans']

In [35]:
print('sales:', sales)

sales: [200, 652, 412, 123]

In [36]:
print(sales,stocks)

[200, 652, 412, 123] ['tv', 'Laptop', 'Mobile phones', 'Table fans']

In [37]:
stocks.remove("Table fans")

In [38]:
print("stocks:",stocks)

stocks: ['tv', 'Laptop', 'Mobile phones']

In [39]:
stocks.append("Hybrid Fans")

In [40]:
print("stocks:",stocks)

stocks: ['tv', 'Laptop', 'Mobile phones', 'Hybrid Fans']

In [41]:
production=[16,10,500,12]
print("production:",production)

production: [16, 10, 500, 12]

In [42]:
production[3]
print("mileage:",production)

mileage: [16, 10, 500, 12]

In [43]:
production.remove(12)

In [44]:
production.append(9)

In [45]:
production

[16, 10, 500, 9]

In [46]:
production[3]=12
print("mileage:",production)

mileage: [16, 10, 500, 12]

In [48]:
stocks.remove("fridge")

ValueError: ignored

In [49]:
stock=["rv","washing machine", "fridge"]
print(stock)

['rv', 'washing machine', 'fridge']

In [50]:
stock.remove("fridge")

In [51]:
print(stock)

['rv', 'washing machine']

In [52]:
stocks[0:2]

['tv', 'Laptop']

In [53]:
stocks

['tv', 'Laptop', 'Mobile phones', 'Hybrid Fans']

In [54]:
sales[:-1]

[200, 652, 412]

In [55]:
production[:-1]

[16, 10, 500]

In [56]:
production.remove(production[-1])
production

[16, 10, 500]

In [57]:
x=[10,30,50,60,90,100]
x[-1]

100

In [58]:
x[-2]

90

In [59]:
x[-4:-1]

[50, 60, 90]

In [60]:
x.remove(x[-1])
x

[10, 30, 50, 60, 90]

In [61]:
y=x[-4:-1]

In [62]:
y

[30, 50, 60]

In [63]:
print(x,y)

[10, 30, 50, 60, 90] [30, 50, 60]

In [64]:
production[1:4]

[10, 500]